.show-if-text {
  display: none;
}
.show-if-map {
  display: none;
}
.show-if-split {
  display: none;
}

.text-view {
  .hide-if-text {
    display: none;
  }
  .show-if-text {
    display: initial;
  }
}

.map-view {
  .hide-if-map {
    display: none;
  }
  .show-if-map {
    display: initial;
  }
}

.split-view {
  .hide-if-split {
    display: none;
  }
  .show-if-split {
    display: initial;
  }
}

