.show-text,
.show-map,
.show-split,
.show-small {
  display: none;
}
.hide-text,
.hide-map,
.hide-split,
.hide-small {
  display: block;
}
.text-is-active {
  .show-text { display: block; }
  .hide-text { display: none; }
}
.map-is-active {
  .show-map { display: block; }
  .hide-map { display: none; }
}
.split-is-active {
  .show-split { display: block; }
  .hide-split { display: none; }
}
@media (max-width: $single-pane-break) {
  .show-small { display: block; }
  .hide-small { display: none; }
}

.show-if-no-js {
  display: none;
}

.js-is-inactive {
  .hide-if-no-js {
    display: none;
  }
  .show-if-no-js {
    display: block;
  }
}