$transition: width 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955),
             transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955),
             left 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955),
             max-width 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

.article-wrapper {
  transition: $transition;
  width: $wrapper-min-width;
  max-width: $wrapper-max-width;
}

.text-block,
.navigation-text {
  transition: $transition;
  transform: translate3d(0,0,0);
  width: 50%;
}
.map-block {
  transition: $transition;
  transform: translate3d(0,0,0);
  width: 50%;
}
.map-navigation-view-control,
#map {
  transition: $transition;
  left: 0px;
}

// Map Is Active
.map-is-active {
  .text-block,
  .navigation-text {
    transform: translate3d(-100%,0,0);
    width: 50%;
  }
  .map-block {
    width: 100%;
    transform: translate3d(0,0,0);
  }
  .map-navigation-view-control,
  #map {
    left: $frame;
  }
}

// Text Is Active
.text-is-active {
  .text-block,
  .navigation-text {
    width: 100%;
    transform: translate3d(0,0,0);
  }
  .map-block {
    transform: translate3d(100%,0,0);
    width: 50%;
  }
  .map-navigation-view-control,
  #map {
    left: 0px;
  }
}

// Split Screen is Active
.map-is-active.text-is-active {
  .text-block,
  .navigation-text {
    transform: translate3d(0,0,0);
    width: 50%;
  }
  .map-block {
    transform: translate3d(0,0,0);
    width: 50%;
  }
  .map-navigation-view-control,
  #map {
    left: 0px;
  }
}