.btn,
button {
  position: relative;
  display: inline-block;
  padding: 0.66em 0.66em 0.75em 0.66em;
  width: auto;
  color: $pbot-dark-gray;
  border: 1px solid $pbot-dark-gray;
  background-color: $off-white;
  box-sizing: border-box;
  transition: all 300ms linear;
  cursor: pointer;
  white-space: nowrap;
  font-size: $pt11;
  font-family: $system-sans;
  letter-spacing: 0.05em;
  border-radius: 3px;
  &:hover, &:focus {
    transition: all 300ms linear;
    text-decoration: none;
    background-color: $pbot-light-gray;
  }
}

.button-white {
  color: $white;
  border: 4px solid $white;
  &:hover, &:focus {
    text-decoration: none;
    background-color: $white;
    color: $blue;
  }
}

.button-white-fill {
  color: $blue;
  background-color: $white;
  border: 4px solid $white;
  &:hover, &:focus {
    text-decoration: none;
    background-color: $blue;
    color: $white;
  }
}

.button-clear {
  background-color: transparent;
  color: $off-white;
  border: 0.125em solid $off-white;
  margin: 0 15px;
}