.half-title {
  background-color: $off-white;
  padding-top: 6*$baseline;
  padding-bottom: 8*$baseline;
}

.half-title-plate {
  border: 5px solid $black;
  background-color: $off-white;
}

.half-title-header {
  font-weight: 500;
  font-size: $pt36;
  text-align: center;
}

.half-title-sub-head {
  width: 75%;
  margin: auto;
  text-align: center;
  font-family: $system-sans;
  font-weight: 300;
  letter-spacing: 0.05em;
}


@media print {
  .half-title {
    page-break-before: always;
    page-break-after: always;
  }
}