.layer-panel {
  box-sizing: border-box;
  background-color: $off-white;
  padding-top: $frame;
  padding-right: $frame/2;
  padding-left: $frame/2;
}

.layer-panel-section {}

.fieldset {
  margin-bottom: 1*$baseline;
  border-bottom: 0.25em solid $blue;
}

.legend {
  box-sizing: border-box;
  width: 100%;
  padding: $baseline/4 $baseline/4 $baseline/4 1.5*$baseline;
  border: 0.25em solid $blue;
  margin: 0;
}

.label {
  line-height: 0.75*$baseline;
  margin: 0;
  padding: $baseline/4 $baseline/4 $baseline/4 1.5*$baseline;
  border-bottom: 0.25em solid $blue;
  border-left:   0.25em solid $blue;
  border-right:  0.25em solid $blue;
}
.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2*$baseline;
  height: 1.2*$baseline;
  margin: 0;
  &:before {
    font-size: $pt10;
    width: 1.2*$baseline;
    height: 1.2*$baseline;
    display: block;
    content: "";
    background-color: $off-white;
    border-right: 0.25em solid $blue;
    border-bottom: 0.25em solid $blue;
  }
}
.input:checked {
  &:before {
    background-color: $blue;
  }
}

@media (max-width: $single-pane-break) {
  .map-is-active,
  .map-is-active {
    .layer-panel {}
  }
  .layer-panel-section {}
}