.layer-panel {
  position: absolute;
  transition: $transition;
  transform: translate3d(0,-120%,0);
  left: $frame;
  right: $frame;
  top: $frame;
  background-color: $off-white;
  padding: $gutter;
  border-bottom: 1px solid $lighter-gray;
  max-height: 60vh;
  overflow: auto;
  z-index: 10;
}

.layer-panel-section {
  box-sizing: border-box;
  padding: $gutter;
  width: 33%;
  float: left;
}

.layer-panel.is-active {
  transform: translate3d(0,0,0);
}

.split-is-active .layer-panel {
  left: 0
}
@media (max-width: $single-pane-break) {
  .map-is-active,
  .map-is-active {
    .layer-panel {
      padding-top: $frame;
      left: 0;
      right: 0;
      top: 0;
    }
  }
  .layer-panel-section {
    width: 100%;
  }
}