#map {
  top: $frame;
  right: $frame;
  bottom: $frame;
  left: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.navigation-layer-control {
  float: right;
  margin-right: $frame;
}

.map-block-controls {
  position: absolute;
  z-index: 5;
  background-color: $off-white;
  left: 0;
  right: 0;
  top: 0;
}