#map {
  top: $frame;
  right: $frame;
  bottom: $frame;
  left: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 0;
  background: $off-white;
  transition: $transition;
}

.map-is-active {
  #map {
    left: $frame;
  }
}

.map-frame {
  background-color: $pbot-dark-gray;
  position: absolute;
  right: $frame;
  left: 0;
  z-index: 20;
  transition: $transition;
}

.map-frame-top {
  padding-top: 2px;
}

.map-is-active {
  .map-frame {
    left: $frame;
  }
}


.rotate-if-active {
  transition: 100ms linear all;
}
.is-active {
  .rotate-if-active {
    transform: rotate(180deg);
    transition: 100ms linear all;
  }
}

@media (max-width: $single-pane-break) {
  .map-is-active {
    .leaflet-control-zoom {
      display: none;
    }
    .leaflet-top {
      top: auto;
      bottom: 2rem;
    }
    .map-frame {
      background-color: transparent;
      padding: 0.5rem;
    }
    #map,
    .map-frame {
      background-color: transparent;
      left: 0;
      right: 0;
    }
    #map {
      top: 0;
      bottom: 0;
    }
  }
}

@media print {
  #map,
  .map-frame {
    display: none;
  }
}
