#map {
  background-color: $off-white;
  top: $frame;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 0;
  background: $off-white;
  transition: $transition;
}

.map-legend {
  position: absolute;
  bottom: $frame/4;
  left: $frame/4;
  font-size: $pt10;
  font-family: $system-sans;
}


.layer-legend {
  position: absolute;
  bottom: $frame/4;
  right: $frame/4;
  font-size: $pt10;
  font-family: $system-sans;
  background-color: $off-white;
  padding: $baseline/2;
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
}

.map-frame {
  background-color: $off-white;
  position: absolute;
  right: $frame/2;
  left: $frame/2;
  z-index: 20;
  transition: $transition;
}

.map-frame-top {
  padding-top: 2px;
}


.rotate-if-active {
  transition: 100ms linear all;
}
.is-active {
  .rotate-if-active {
    transform: rotate(180deg);
    transition: 100ms linear all;
  }
}
.map-is-active {
  #map,
  .map-frame {
    top: 0;
    background-color: transparent;
    padding: 0.5rem;
    left: 0;
    right: 0;
  }
  .leaflet-top {
    top: $frame;
  }
}

@media print {
  #map,
  .map-frame {
    display: none;
  }
}

// // shame!
// .geocoder-control-suggestions {
//   opacity: 0;
// }
