
// Modal Component
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #2E3133;
  z-index: 30;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: $transition;
  visibility: hidden;
  overflow: auto;
  &.is-active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.map-is-active,
.split-is-active {
  .modal-overlay  {
    width: 50%;
  }
}

.map-is-active {
  .modal-overlay  {
    width: 50%;
    transform: translate3d(-100%, 0 0);
  }
}

@media (max-width: $single-pane-break) {
  .split-is-active {
    .modal-overlay  {
      width: 100%;
    }
  }
}

@media print {
  .modal-overlay {
    display: none;
  }
}