.navigation {
  position: fixed;
  height: $frame;
  padding-left: $frame;
  padding-top: 2px;
  width: 100%;
  z-index: 10;
  background-color: $pbot-dark-gray;
  color: $off-white;
  transition: $transition;
  box-sizing: border-box;
  padding-right: $frame;
}

.bottom-navigation {
  bottom: 0;
  padding-top: 12px;
  text-align: center;

}

.map-is-active,
.split-is-active {
  .navigation {
    width: 50%;
    padding-right: 0;
  }
}

.map-is-active {
  .navigation {
    width: 50%;
    transform: translate3d(-100%, 0, 0);
  }
}

.panel-text {
  .navigation {
    width: 100%;
    transform: translate3d(0, 0, 0);
  }
}

.type-small .navigation,
.type-small .map-frame {
  button {
    margin-top: 8px
  }
}
.type-medium .navigation,
.type-medium .map-frame {
  button {
    margin-top: 6px
  }
}

@media (max-width: $single-pane-break) {
  .split-is-active {
    .navigation {
      width: 100%;
      transform: translate3d(0, 0, 0);
    }
  }
}

@media print {
  .navigation {
    display: none;
  }
}

.navigation-no-js-text {
  padding-top: $baseline/3;
}

.nav-top-link {
  color: $white;
  margin-top: $baseline/4;
  margin-left: $gutter;
  display: inline-block;
  &:visited {
    color: $white;
  }
}
