.navigation {
  position: fixed;
  height: $frame;
  width: 100%;
  z-index: 10;
  background-color: $off-white;
  border-bottom: 1px solid $gray;
  transition: $transition;
}

.map-is-active,
.split-is-active {
  .navigation {
    width: 50%;
  }
}

.map-is-active {
  .navigation {
    width: 50%;
    transform: translate3d(-100%, 0, 0);
  }
}

.panel-text {
  .navigation {
    width: 100%;
    transform: translate3d(0, 0, 0);
  }
}

.type-small .navigation,
.type-small .map-frame {
  button {
    margin-top: 8px
  }
}
.type-medium .navigation,
.type-medium .map-frame {
  button {
    margin-top: 6px
  }
}

@media (max-width: $single-pane-break) {
  .split-is-active {
    .navigation {
      width: 100%;
      transform: translate3d(0, 0, 0);
    }
  }
}

@media print {
  .navigation {
    display: none;
  }
}

