

// PopUp Theft
.leaflet-popup {
  display: none;
}
.pop-up-container {
  visibility: hidden;
  position: absolute;
  left: 2*$frame;
  top: $frame;
  bottom: $frame;
  pointer-events: none;
  transition: $transition;
  opacity: 0;
  transform: translateY(-1%);
  &.is-active {
    visibility: visible;
    opacity: 1;
    display: inline-block;
    vertical-align: middle;
    transition: $transition;
    transform: translateX(0);
    .pop-up-panel {
      display: inline-block;
      opacity: 1;
    }
  }
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

@media (max-width: $single-pane-break) {
  .pop-up-container {
    top: auto;
    left: 0;
    right: 32px;
    bottom: 0;
  }
  .pop-up-panel {
    width: 100%;
  }
}

.pop-up-panel {
  display: none;
  opacity: 0;
  vertical-align: middle;
  background-color: $off-white;
  box-shadow: 0 0 10px $dark-gray;
  border: 1px solid $light-gray;
  border-radius: 5px;
  padding: $gutter;
  pointer-events: auto;
  max-height: 80%;
  overflow: auto;
}
