.search-panel {
  // padding: $frame/2 $frame;
  background-color: $off-white;
}

.search {
 padding: $baseline/4 $baseline/2;
 border-bottom: 1px solid $gray;
}

.search-inline-form {
  margin-bottom: $baseline;
}

.search-inline {
  width: 50%;
  font-size: $pt10;
  margin-top: $baseline/4;
  margin-bottom: 0;
  height: 1*$baseline;
  border: transparent;
  border-bottom: 1px solid $off-white;
  background-color: $off-white;
  box-shadow: none;
  font-family: $system-serif;
  color: $off-black;
  padding-left: 0.25em;
}

.search-input {
  width: 100%;
  font-size: $pt12;
  margin-top: $baseline/4;
  margin-bottom: 0;
  height: $baseline;
  border: transparent;
  border-bottom: 1px solid $pbot-dark-gray;
  background-color: transparent;
  box-shadow: none;
  font-family: $system-serif;
  color: $blue;
}

.search-label {
  font-size: $pt12;
}

.search-button {
  padding: 0.5em;
  color: $dark-blue;
  border: 1px solid $dark-blue;
}

.cancel-button {
  padding: 0.5em;
  float: right;
  border-color: transparent;
  &:hover, &:focus {
    background-color: $orange;
  }
}

.close-button {
  margin: 0 1em 0 0;
  padding: 0;
  float: right;
  font-family: $system-serif;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  color: $blue;
  z-index: 10;
  &:hover, &:focus {
    color: $blue;
    background-color: transparent;
    border-bottom: 1px solid $blue;
  }
}

.search-results {
  display: none;
  &.is-active {
    display: block;
  }
}

.search-result {
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: $frame/2 ;
  border-bottom: 1px solid $gray;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    .search-result-header {
      text-decoration: underline;
      color: $blue;
    }
    .search-result-preview {
      text-decoration: none;
      color: $black;
    }

  }
}
.search-result-summary {
  margin-top: 0;
  padding: $frame/2 ;
  border-bottom: 1px solid $gray;
}

.search-result-header {
  margin-top: 0;
  margin-bottom: $pt6;
}
.search-result-preview {
  margin-bottom: 0;
  text-decoration: none;
  // max-height: 3rem;
  // overflow: hidden;
}

.is-hidden {
  display: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray;
  font-family: $system-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $gray;
  font-family: $system-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $gray;
  font-family: $system-serif;
}
:-moz-placeholder { /* Firefox 18- */
  color: $gray;
  font-family: $system-serif;
}