.search-input {
  width: 75%;
  font-size: $pt24;
  margin-top: $root-baseline/4;
  margin-bottom: $root-baseline;
  height: 2.5*$root-baseline;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  border-bottom-color: $black;
  box-shadow: none;
  font-family: $system-serif;
}

.search-button {
  margin-top: $root-baseline*1.25;
  padding: 1em;
  float: right;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $darker-gray;
  font-family: $system-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $darker-gray;
  font-family: $system-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $darker-gray;
  font-family: $system-serif;
}
:-moz-placeholder { /* Firefox 18- */
  color: $darker-gray;
  font-family: $system-serif;
}