.search {
  margin-top: $baseline*3;
}

.search-input {
  width: 100%;
  font-size: $pt24;
  margin-top: $baseline/4;
  margin-bottom: $baseline;
  height: 2.5*$baseline;
  border: transparent;
  border-bottom: 4px solid rgba($white, 1);
  background-color: transparent;
  box-shadow: none;
  font-family: $system-serif;
  color: $white;
}

.search-label {
  color: $white;
  font-size: $pt12;
}

.search-button {
  padding: 1em;
  color: $white;
  border-color: $white;
}


.cancel-button {
  padding: 1em;
  float: right;
  color: $white;
  border-color: transparent;
  &:hover, &:focus {
    background-color: $orange;
  }
}

.close-button {
  margin: 0 1em 0 0;
  padding: 0;
  float: right;
  font-family: $system-serif;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  color: $white;
  z-index: 10;
  &:hover, &:focus {
    color: $white;
    background-color: transparent;
    border-bottom: 2px solid $white;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $light-gray;
  font-family: $system-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $light-gray;
  font-family: $system-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $light-gray;
  font-family: $system-serif;
}
:-moz-placeholder { /* Firefox 18- */
  color: $light-gray;
  font-family: $system-serif;
}