.table-of-contents {
  padding-top: $baseline * 3;
  padding-bottom: $baseline * 5;
  background-color: $light-blue;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
   padding: 0;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $pbot-dark-gray;
    }
  }
}

.toc {
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  li {
   padding: 0;
  }
  a {
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: $baseline/4 $baseline/2;
    border-bottom: 1px solid $gray;
    &:hover {
      background-color: $lightest-gray;
    }
  }
}