.text-wrapper {
  background-color: $off-white;
  overflow-x: hidden;
}

.text-container {
  margin: auto;
  width: $wrapper-width;
}

.text-block {
  position: relative;
  padding: $gutter;
  padding-left: $frame;
  padding-right: $frame;
  max-width: $text-measure;
  margin: auto;
  overflow: hide;
  p img {
    width: 100%;
  }
}

@media (max-width: $single-pane-break) {
  .text-container {
    width: 100%;
  }
}