.text-wrapper {
  background-color: $off-white;
}

.text-container {
  margin: auto;
  width: $wrapper-width;
}

.text-block {
  position: relative;
  padding: $gutter;
  max-width: $text-measure;
  overflow: hide;
}

@media (max-width: $single-pane-break) {
  .text-container {
    width: 100%;
  }
  .text-block {
    padding: $gutter;
    padding-left: 1.5*$gutter;
  }
}