.title {
  position: relative;
  z-index: 10;
  background-color: $blue;
}

.title-view-control {
  float: right;
  margin: $font-size;
}

.title-buffer {
  padding-top: $baseline * 3;
  padding-bottom: $baseline * 5;
}

.title-header {
  font-weight: 300;
  color: $off-white;
}

.title-rule {
  width: 50%;
  margin-right: 50%;
  float: left;
  border-bottom: 3px solid $off-white;
}

.title-subhead {
  padding-top: $baseline * 1.5;
  font-size: $pt14;
  color: $off-white;
  font-family: $system-sans;
  font-weight: 300;
  letter-spacing: 0.05em;
}


@media (max-width: $single-pane-break) {
  .title-buffer {
    padding-top: $baseline * 1;
    padding-bottom: $baseline * 3;
  }
}

@media print {
  .title {
    page-break-before: always;
    page-break-after: always;
  }
}