.title {
  position: relative;
  z-index: 10;
  background-color: $off-white;
  border-bottom: 2rem solid #60AFAF;
}

.title-view-control {
  float: right;
  margin: $font-size;
}

.title-header {
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
}

.title-image {
  mix-blend-mode: multiply;
}

.title-branding {
  max-width: 12rem;
}

.title-rule {
  width: 50%;
  margin-right: 50%;
  float: left;
}

.title-subhead {
  font-size: $pt12;
  font-family: $system-sans;
  font-weight: 300;
  letter-spacing: 0.05em;
  margin-top: 2 * $baseline;
  margin-bottom: 0;
}
.title-subsubhead {
  font-size: $pt12;
  font-family: $system-sans;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}

@media (max-width: $single-pane-break) {
  .title-buffer {
    padding-top: $baseline * 1;
    padding-bottom: $baseline * 3;
  }
}

@media print {
  .title {
    page-break-before: always;
    page-break-after: always;
  }
}