html {
  font-size: $medium-font-size;
  line-height: $medium-baseline;
}
h1,
h2,
h3,
h4 {
  margin-top: calc(#{$medium-baseline} * 1.5);
  margin-bottom: $medium-baseline;
}
h5 {
  margin-bottom: calc(#{$medium-baseline} / 2);
}
p,
ol {
  line-height: $medium-baseline;
  margin-bottom: $medium-baseline;
}
li {
  line-height: $medium-baseline;
}
