/* Base Type Styles */
html {
  font-family: $system-serif;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-feature-settings:"kern","liga" 1,"calt" 0;
}

html,
html.type-large {
  line-height: $baseline;
  font-size: $font-size;
}

html.type-medium {
  line-height: $medium-baseline;
  font-size: $medium-font-size;
}

html.type-small {
  line-height: $small-baseline;
  font-size: $small-font-size;
}

@media print {
  html,
  html.type-large,
  html.type-medium,
  html.type-small {
    line-height: $small-baseline;
    font-size: $small-font-size;
    max-width: 600px;
  }
  html,
  body {
    height: 99%;
  }
}

/* Type Colors */
body {
  background-color: $off-white;
  // background-color: $pbot-dark-gray;
  color: $color-text-small;
}

h1,
h2,
h3,
h4 {
  color: $color-text-big;
  margin-top: $baseline*1.5;
  margin-bottom: $baseline;
}

/* Type Sizes */
h1 {
  font-size: $pt24;
  line-height: $baseline*2;
}
h2 {
  font-size: $pt21;
  line-height: $baseline*1.5;
}
h3 {
  font-size: $pt18;
  line-height: $baseline*1.25;
}
h4 {
  font-size: $pt14;
}
h5 {
  font-size: $pt12;
  margin-bottom: calc(#{$baseline} / 2);
}
h6 {
  font-size: $pt12;
  margin-bottom: 0;
}

.type-small {
  h1 {
    font-size: $pt24;
    line-height: $small-baseline*1.5;
  }
  h2 {
    font-size: $pt21;
  }
  h3 {
    font-size: $pt18;
  }
  h4 {
    font-size: $pt14;
  }
  h5 {
    font-size: $pt12;
    margin-bottom: calc(#{$baseline} / 2);
  }
}

/* Base Styles */
p,
ul,
ol {
  margin-top: 0;
  line-height: $baseline;
  margin-bottom: $baseline;
}
li {
  line-height: $baseline;
  margin-bottom: 0;
}

/* Link Styles */
a {
  color: $color-text-small;

  &:visited {
    color: $color-text-small;
  }
  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}

// Type helpers
.sans-serif {
  font-family: $system-sans;
}
.serif {
  font-family: $system-serif;
}

.pt6  { font-size: $pt6;}
.pt7  { font-size: $pt7;}
.pt8  { font-size: $pt8;}
.pt9  { font-size: $pt9;}
.pt10 { font-size: $pt10;}
.pt11 { font-size: $pt11;}
.pt12 { font-size: $pt12;}
.pt14 { font-size: $pt14;}
.pt18 { font-size: $pt18;}
.pt21 { font-size: $pt21;}
.pt24 { font-size: $pt24;}
.pt36 { font-size: $pt36;}
.pt48 { font-size: $pt48;}
.pt60 { font-size: $pt60;}
.pt72 { font-size: $pt72;}
