/* Base Type Styles */
html {
  font-family: $system-serif;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-feature-settings:"kern","liga" 1,"calt" 0;
}

html,
html.type-large {
  line-height: $baseline;
  font-size: $font-size;
}

html.type-medium {
  line-height: $medium-baseline;
  font-size: $medium-font-size;
}

html.type-small {
  line-height: $small-baseline;
  font-size: $small-font-size;
}

/* Type Colors */
body {
  background-color: $color-background;
  color: $color-text-small;
}

h1,
h2,
h3,
h4 {
  color: $color-text-big;
  margin-top: calc(#{$baseline} * 1.5);
  margin-bottom: $baseline;
}

/* Type Sizes */
h1 {
  font-size: $pt36;
  line-height: calc(#{$baseline} * 2);
}
h2 {
  font-size: $pt24;
}
h3 {
  font-size: $pt21;
}
h4 {
  font-size: $pt18;
}
h5 {
  font-size: $pt14;
  margin-bottom: calc(#{$baseline} / 2);
}
h6 {
  font-size: $pt12;
  margin-bottom: 0;
}

.type-small {
  h1 {
    font-size: $pt24;
    line-height: $small-baseline*1.5;
  }
  h2 {
    font-size: $pt21;
  }
  h3 {
    font-size: $pt18;
  }
  h4 {
    font-size: $pt14;
  }
  h5 {
    font-size: $pt12;
    margin-bottom: calc(#{$baseline} / 2);
  }
}

/* Base Styles */
p,
ul,
ol {
  padding: 0;
  margin-top: 0;
  line-height: $baseline;
  margin-bottom: $baseline;
}
li {
  line-height: $baseline;
  margin-bottom: 0;
}

/* Link Styles */
a {
  color: $color-text-small;

  &:visited {
    color: $color-text-small;
  }
  &:hover {
    color: $rich-blue;
    text-decoration: underline;
  }
}

.sans-serif {
  font-family: $system-sans;
}
