
figure {
  position: absolute;
  left: 100%;
  right: calc(var(--figure-width)* -1);
  margin-top: -10em;
  max-width: var(--text-measure);
}

.map-block {
  border-left: 1px solid var(--lighter-gray);
  box-shadow: 3px 3px 3px var(--gray);
  display: none;
}

.article-wrapper {
  margin: auto;
  width: var(--wrapper-min-width);
  max-width: var(--wrapper-max-width);

  /*border-left: 1px dashed var(--dark-gray);*/
  /*border-right: 1px dashed var(--dark-gray);*/
}

.article-body {
  position: relative;
  padding: var(--gutter);
  max-width: var(--text-measure);

  /*border-left: 1px dashed var(--dark-gray);*/
  /*border-right: 1px dashed var(--dark-gray);*/
}

.split-screen .text-block {
  float: left;
  width: 50%;
}

.split-screen .map-block {
  display: block;
  right: 0;
  left: 50%;
  top: 0;
  bottom: 0;
  height: 100vh;
  position: fixed;
  background-color: var(--black);
}

.split-screen figure {
  display: none;
}

.split-screen .article-wrapper {
  width: var(--half-wrapper-min-width);
  max-width: var(--half-wrapper-max-width);
}

.map-view .text-block {
  display: none;
}

.map-view .map-block {
  display: block;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: var(--black);
}

@media (--hide-split-screen) {
  .split-screen .text-block {
    width: 100%;
  }

  .split-screen .map-block {
    display: none;
  }

  .split-screen .article-wrapper {
    width: var(--wrapper-min-width);
    max-width: var(--wrapper-max-width);
  }
}

@media (--small-measure) {
  .split-screen .article-wrapper,
  .article-wrapper {
    width: var(--wrapper-small-min-width);
  }
}
