@custom-media --large-measure  (min-width: 851px);
@custom-media --medium-measure (max-width: 850px);
@custom-media --small-measure  (max-width: 500px);

@custom-media --half-large-measure  (min-width: 1901px);
@custom-media --half-medium-measure (max-width: 1900px);
@custom-media --half-small-measure  (max-width: 1300px);

@custom-media --hide-split-screen  (max-width: 1000px);

@import "reset.css";

@import "vars/colors.css";
@import "vars/fonts.css";
@import "vars/type.css";
@import "vars/layout.css";

@import "typography.css";
@import "structure.css";

@import "split-screen-typography.css";

@import "components/navigation.css";

#map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
}