@import "base/reset.scss";

@import "vars/colors.scss";
@import "vars/fonts.scss";
@import "vars/type.scss";
@import "vars/layout.scss";

@import "type/typography.scss";
@import "type/large-typography.scss";

@import "layout/show-hide.scss";
@import "layout/structure.scss";
@import "layout/transitions.scss";

@import "components/forms.scss";
@import "components/tables.scss";
@import "components/buttons.scss";
@import "components/title.scss";
@import "components/table-of-contents.scss";
@import "components/navigation.scss";
@import "components/half-title.scss";
@import "components/search.scss";
@import "components/introduction.scss";
@import "components/colophon.scss";
@import "components/map.scss";
@import "components/scale.scss";

/* Medium Screen Size */
@media (max-width: 1000px) {
  @import "type/medium-typography.scss";
}

/* Small Screen Size */
@media (max-width: 650px) {
  @import "type/small-typography.scss";
}

/* Split Screen Defaults*/
@import "type/split-screen-typography";
@import "layout/split-screen-structure.scss";
@import "components/navigation-split-screen.scss";

/* Split Screen Medium */
@media (max-width: 1700px) {
  @import "type/split-screen-typography-medium";
}

/* Split Screen Small */
@media (max-width: 1300px) {
  @import "type/split-screen-typography-small";
}

/* Split Screen, but only one Pane Visible */
@media (max-width: 1000px) {
  @import "layout/split-screen-reset.scss";
  @import "type/split-screen-typography-medium-reset.scss";
  // /*@import "components/navigation-split-screen-small.scss";*/
}

/* Split Screen, but only one Pane Visible, and Small */
@media (max-width: 650px) {
  @import "type/split-screen-typography-small-reset";
}

.text-section {
  border-top: 5px solid $black;
  margin-bottom: $root-baseline * 6;
}

svg {
  display: inline-block; // make sure icons display inline with other elements but have a defined width/height
  width: .875em; // slightly less then the same font size
  height: .875em; // slightly less then the same font size
  vertical-align: -.125em; // offset the image slightly from the top to center it
  padding-right: .125em; // pad the image slightly to the right
  fill: currentColor; // inherit current color
  pointer-events: none; // no pointer events
}

.preload * {
  transition: none !important;
}