$pt6: 0.5rem;
$pt7: 0.5833rem;
$pt8: 0.66rem;
$pt9: 0.75rem;
$pt10: 0.833rem;
$pt11: 0.9166rem;
$pt12: 1rem;
$pt14: 1.1666rem;
$pt18: 1.5rem;
$pt21: 1.75rem;
$pt24: 2rem;
$pt36: 3rem;
$pt48: 4rem;
$pt60: 5rem;
$pt72: 6rem;

$root-font-size: 26px;
$root-baseline: 1.6rem;

$medium-font-size: 20px;
$medium-baseline: 1.55rem;

$small-font-size: 16px;
$small-baseline: 1.5rem;

$text-measure: 36rem;
