:root {
  /* base grayscale */
  --white:                 hsl(206, 6%, 100%);
  --off-white:             hsl(206, 6%, 98%);
  --lightest-gray:         hsl(206, 6%, 95%);
  --lighter-gray:          hsl(206, 6%, 90%);
  --light-gray:            hsl(206, 6%, 84%);
  --gray:                  hsl(206, 6%, 78%);
  --dark-gray:             hsl(206, 6%, 64%);
  --darker-gray:           hsl(206, 6%, 49%);
  --darkest-gray:          hsl(206, 6%, 34%);
  --off-black:             hsl(206, 6%, 25%);
  --black:                 hsl(206, 6%, 19%);

  /* ui colors */
  --color-background: var(--off-white);
  /*--color-text-small: #242425;*/
  --color-text-small: var(--black);
  /*--color-text-big: #393939;*/
  --color-text-big: var(--off-black);
}
