:root {
  --gutter: 1rem;
  --figure-width: 20rem;

  --wrapper-min-width: calc((10/12) * 100% );
  --wrapper-max-width: calc(var(--text-measure) + var(--figure-width) + var(--gutter) + var(--gutter));

  --half-wrapper-min-width: calc((10/12) * 100% );
  --half-wrapper-max-width: calc(var(--text-measure) + var(--gutter) + var(--gutter));

  --wrapper-small-min-width: calc((10/11) * 100% );
}
