:root {
  --6pt: 0.5rem;
  --7pt: 0.5833rem;
  --8pt: 0.66rem;
  --9pt: 0.75rem;
  --10pt: 0.833rem;
  --11pt: 0.9166rem;
  --12pt: 1rem;
  --14pt: 1.1666rem;
  --18pt: 1.5rem;
  --21pt: 1.75rem;
  --24pt: 2rem;
  --36pt: 3rem;
  --48pt: 4rem;
  --60pt: 5rem;
  --72pt: 6rem;

  --root-font-size: 26px;
  --root-baseline: 1.6rem;

  --medium-font-size: 20px;
  --medium-baseline: 1.55rem;

  --small-font-size: 16px;
  --small-baseline: 1.5rem;

  --text-measure: 36rem;
}











