<!DOCTYPE html>
<html lang="en" class="type-small js-is-inactive is-loading">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width">

    <meta name="description" content="Portland Bureau of Transportation Service Plan 2035">

    <title>T.S.P. 2035 | P.B.O.T.</title>

    <link rel="shortcut icon" href="/img/favicon.ico">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="">
    <meta name="twitter:site" content="@PBOTinfo">
    <meta name="twitter:creator" content="@PBOTinfo">
    <meta name="twitter:title" content="T.S.P. 2035">
    <meta name="twitter:description" content="Portland Bureau of Transportation Service Plan 2035">

    <meta property="og:image" content="">
    <meta property="og:title" content="T.S.P. 2035">
    <meta property="og:url" content="{{url}}">

    <!-- Load Leaflet from CDN-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet-src.js"></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.0.4"></script>

    <!-- Esri Leaflet Geocoder -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.0/dist/esri-leaflet-geocoder.css">
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.0"></script>

    <!-- Load Esri Leaflet Renderers -->
    <!-- This will hook into Esri Leaflet and draw the predefined World Regions -->
    <script src="https://cdn.jsdelivr.net/leaflet.esri.renderers/2.0.4/esri-leaflet-renderers.js"></script>

    <link rel="stylesheet" href="/css/style.css">

  </head>

  <body>
    <!-- Search Form Sidebar V. Nice -->
    <div class="drawer drawer-left js-drawer" data-drawer="navigation" tabindex="0">
      <nav class="drawer-nav" role="navigation">
        <aside class="side-nav search-panel">
          {% include "_search-form.html" %}
          <div class="loader-wrapper js-search-loader">
            <div class="loader"></div>
          </div>
          <div class="toc js-search-hide">
            {% autoescape false %}
              {{ toc }}
            {% endautoescape %}
          </div>
          <div class="js-search-results search-results"></div>
        </aside>
      </nav>
    </div>

    <!-- Layers Drawer V. Nice -->
    <div class="drawer drawer-right js-drawer" data-drawer="layers" tabindex="0">
      <nav class="drawer-nav layer-panel" role="navigation">
        <aside class="side-nav">
          {% include "_layers.html" %}
        </aside>
      </nav>
    </div>

    <!-- Main Page Loader V. Nice -->
    <div class="loader-wrapper">
      <div class="loader"></div>
      <p class="loader-text">Loading &hellip;</p>
    </div>


    <div class="panels js-panels text-is-active">

      <nav class="navigation">
        {% include "_navigation.html" %}
      </nav>

      <aside class="chapter-nubs">
        <div class="js-chapter-nubs">
          <ul class="nubs js-nub-list"></ul>
        </div>
      </aside>

      <div class="panel panel-text js-text-area">
        {% include "_title.html" %}

        <div class="table-of-contents">
          <div class="text-container">
            <div class="text-block">
              <button>Search the TSP</button>
              <button>View Map</button>
            </div>
          </div>
        </div>

        <div class="text-wrapper">
          <div class="text-container">
            <article class="text-block">
              <section class="text-section js-search-content">
                {% autoescape false %}
                  {{ content }}
                {% endautoescape %}
              </section>
            </article>
          </div>
        </div>
        {% include "_last-half.html" %}
      </div>

      <div class="panel panel-map">
        {% include "_map.html" %}
      </div>
<!--
      <nav class="navigation bottom-navigation">
        <small>Built by the Portland Bureau of Transportation 2017</small>
      </nav>
 -->
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>