<div class="map-frame map-frame-top clearfix">
  <div class="left">
    <button class=" button-clear pt8 js-view-control show-small" data-panel="split">  {% include "_icon-text.html" %} show text</button>
    <button class=" button-clear pt8 js-view-control hide-small hide-split" data-panel="split">
      {% include "_icon-text.html" %} show text</button>
    <button class=" button-clear pt8 js-view-control hide-map hide-small clear-border-left" data-panel="map">
      {% include "_icon-text.html" %} hide text</button>
  </div>
  <button class="pt8 js-layer-control right">Edit Layers</button>
</div>


<div class="js-layer-control-panel layer-panel">
  <form class="sans-serif">
    <fieldset class="layer-panel-section fieldset-checkbox">
      <legend><b>Projects:</b></legend>
      <label>
        <input class="js-layer-toggle" type="checkbox">View All
      </label>
      <label>
        <input class="js-layer-toggle" type="checkbox">Layer One
      </label>
      <label>
        <input class="js-layer-toggle" type="checkbox">Layer Two
      </label>
      <label>
        <input class="js-layer-toggle" type="checkbox">Layer Three
      </label>
    </fieldset>
    <fieldset class="layer-panel-section fieldset-checkbox">
      <legend><b>Plans:</b></legend>
      <label>
        <input class="js-layer-toggle" type="checkbox">View All
      </label>
      <label>
        <input class="js-layer-toggle" type="checkbox">Layer One
      </label>
      <label>
        <input class="js-layer-toggle" type="checkbox">Layer Two
      </label>
      <label>
        <input class="js-layer-toggle" type="checkbox">Layer Three
      </label>
    </fieldset>

    <fieldset class="layer-panel-section fieldset-radio">
      <legend><b>Street Classifications:</b></legend>
      <label>
        <input type="radio" name="streetClass" class="js-layer-toggle" checked>None
      </label>
      <label>
        <input type="radio" name="streetClass" class="js-layer-toggle" data-layer="designClassifications">Design
      </label>
      <label>
        <input type="radio" name="streetClass" class="js-layer-toggle" data-layer="bicycleClassifications">Bicycle
      </label>
      <label>
        <input type="radio" name="streetClass" class="js-layer-toggle" >Transit
      </label>
      <label>
        <input type="radio" name="streetClass" class="js-layer-toggle" >Pedestrian
      </label>
      <label>
        <input type="radio" name="streetClass" class="js-layer-toggle" >Freight
      </label>
      <label>
        <input type="radio" name="streetClass" class="js-layer-toggle" >Traffic
      </label>
      <label>
        <input type="radio" name="streetClass" class="js-layer-toggle">Emergency Response
      </label>
  </form>
</div>


<div id="map"></div>

<div class="pop-up-container js-pop-up">
  <div class="pop-up-panel">
    <button class="right pt6 js-close-popup">close</button>
    <div class="js-template"></div>
  </div>
</div>

<div class="map-frame map-frame-bottom">
  <div class="scalebar-miles"></div>
</div>

