
  <button class="left js-drawer-toggle serif pt8 hide-if-no-js" data-drawer="navigation">
    {% include "_icon-map-2.html" %}
    Search Document
  </button>

<!--   <button class="left js-modal-toggle js-running-section serif pt8 button-clear" >Transportation Service Plan
  </button> -->

  <button class="right pt8 serif js-view-control hide-small hide-text button-clear hide-if-no-js" data-panel="text">
    {% include "_icon-map-2.html" %} hide map
  </button>
  <button class="right pt8 serif js-view-control show-small button-clear hide-if-no-js" data-panel="map">
    {% include "_icon-map-2.html" %} show map
  </button>
  <button class="right pt8 serif js-view-control hide-small hide-split button-clear hide-if-no-js" data-panel="split">
    {% include "_icon-map-2.html" %} show map
  </button>



  <div class="text-container show-if-no-js">
    <p class="navigation-no-js-text">Portland Transportation Service Plan</p>
  </div>