<div class="title">
  <div class="title-buffer text-container">
    <div class="text-block">
      <h1 class="title-header">Portland Transportation System Plan 2035</h1>
      <hr class="title-rule">
      <p class="title-subhead">Portland Bureau of Transportation</p>

      <button class="button-white-fill left js-view-control hide-small hide-text" data-panel="text">
        {% include "_icon-map.html" %}

      </button>
      <button class="button-white left js-view-control show-small" data-panel="map">
        {% include "_icon-map.html" %}
      </button>
      <button class="button-white left js-view-control hide-small hide-split" data-panel="split">
        {% include "_icon-map.html" %}
      </button>

      <button class="button-white-fill left gutter-left js-view-control hide-map hide-small" data-panel="map">
        {% include "_icon-text.html" %}
      </button>
    </div>
  </div>
</div>